.service {
    background-color: #1E1E1E;
    padding: 91px 220px 118px 220px;


    .row1 {
        .title {
            color: #E43767;
            text-align: center;
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            /* 111.111% */
        }

        .body {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 125% */
            padding: 5px 40px;
            margin-bottom: 73px;
        }


    }

    .services {
        .card {
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
            padding: 28px 20px 30px 20px;

            img {
                width: 78px;
                height: 80px;
                margin-bottom: 18px;
            }

            .card-body {
                .card-title {
                    color: #E43767;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    /* 125% */
                    margin-bottom: 5px;
                }

                .card-text {
                    color: #1E1E1E;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    /* 160% */
                }
            }
        }
    }
}